<!DOCTYPE html>
<html>

<head>
    <title>client side ejs compiled with express middleware</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="text-5xl">
        <%= hello %>
        <%= hello %>
        <%= hello %>
    </div>

    <%- include('../components/layouts/header') %>
</body>

</html>