<!DOCTYPE html>
<html>

    <%- include('../components/head', {
        title: 'My Home Page',
        description: 'Welcome to my website homepage',
        keywords: 'home, welcome, website',
        imageUrl: 'https://example.com/image.jpg',
        fullUrl: process.env.NODE_APP_URL
    }) %>

<body>

    <%- include('../components/layouts/header') %>
</body>

</html>